.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px 30px;

  h1 {
    text-align: center;
    font-size: xxx-large;
    margin: 3vh 0 2vh;
  }
  
  p {
    font-size: large;
  }
}