#home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 0;
    height: inherit;

    img {
        width: 100%;
        width: 100%;
        margin-bottom: 10vh;
    }
    
    button {
        a {
            text-decoration: none;
            color: inherit;
            font-size: inherit;
        }
    }
}