#home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 87dvh;

    img {
        width: 100%;
    }
    
    button {
        align-self: center;
        a {
            text-decoration: none;
            color: inherit;
            font-size: inherit;
        }
    }
}