#login-page,
#register-page {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;

    img {
        width: 70vw;
        align-self: center;
    }

    p {
      text-align: center;
      background-color: red;
      padding: 10px 16vw;
      margin: 0 auto;
      color: #fff;
    }

    form {
        display: flex;
        flex-direction: column;
        padding-bottom: 20vh;

        .form-group {
          display: flex;
          flex-direction: column;
          margin: 1vh 5vw;

          p {
            text-align: center;
            background-color: red;
            padding: 10px;
            margin: 0;
            color: #fff;
          }

          label {
            font-size: xx-large;
            font-weight: 500;
            margin: 2vh;
          }

          input {
            height: 8vh;
            font-size: xx-large;
            width: 90%;
            margin: 0 auto;
            height: 7vh;
            font-size: x-large;
            padding: 0 15px;
            background-color: #D9D9D9;
            box-shadow: #e9c636 1px 1px;
            border: 0;
          }
        }

        button {
          align-self: center;
          font-size: large;
          cursor: pointer;
          margin: 3vh 0 auto 0;
        }
    }

    a {
      align-self: center;
      margin: auto;
      font-size: larger;
      color: black;
      margin-bottom: 5vh;
    }

    .login-footer {
      height: 10vh;
    }
}