#queue {
  display: flex;
  flex-direction: column;
  height: inherit;

  .main {
    display: flex;
    flex-direction: column;
    height: inherit;
  }

  .alert {
    display: flex;
    justify-content: center;
    background-color: red;
    color: #fff;
    padding: 10px;
    margin: 2vh auto 0;
    font-size: x-large;
  }

  .chairs {
    display: flex;
    justify-content: space-between;
    margin: 3vh 0 0;

    .one-chair {
      margin: 0 auto;
    }

    .middle {
      margin: 0 0 10vh;
    }
  }

  .chairs-admin {
    display: flex;
    justify-content: center;
  }
    
  .button-forfit {
    align-self: center;
    margin: 3vh;
  }

  .admin-buttons {
    display: flex;
    height: -webkit-fill-available;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 2vh 0;

    button {
      font-size: large;
    }
  }

  .button-nav {
    align-self: self-start;
    height: auto;
    box-shadow: 0 0;
    margin: 0 auto;
    color: #634f2bbf;
    background-color: transparent;
    font-weight: bold;
  }
}