* {
    margin: 0;
}

#header {
    justify-content: space-between;

    background-color: rgba(130, 126, 126, 0.267);

    h1 {
        color: #B48100;
        align-self: center;
    }
}

#a-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0;

    img {
        width: 100%;
    }
    
    button {
        background-color: #B48100;
        padding: 2vh 2vw;
        font-size: 5vw;
        margin: 10vh;
    }
}
