@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin column-center {
    @include flex-column();

    align-items: center;
}

@mixin button {
    background-color: #ebab3b;
    padding: 2vh 10vw;
    font-size: 8vw;
    border-radius: 30px;
}

* {
    margin: 0;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 20%;

    nav {
        display: flex;
        justify-content: space-between;
        padding: 1vh 3vw 2vh;
    
        #logo {
            height: 10vh;
        }
    
        #menuIcon {
            height: 6vh;
        }
    }

    .navigation {
        background-color: rgb(231 231 231);
        box-shadow: #F9B339 1px 1px;
    
        button {
            h3 {
                font-size: 10vw;
                color: #ebab3b;
            }

            .icon-bar {
                display: block;
                margin: 1vh 0;
                width: 13vw;
                height: 1vh;
                background-color: #F9B339;
            }
    
            border: 0;
            background-color: transparent;
        }
    }

    .menu {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        button {
            font-size: 9vw;
            color: #F8F7F7;
            background-color: #000;
            padding: 2vh 5vw;
            margin: 5vh 0 0 0;
        }
    
        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            a {
                display: flex;
                align-items: center;
    
                img {
                    height: 10vh;
                    margin: 0 5vw;
                }

                .men0 {
                    height: 12vh;
                }

                .men1 {
                    height: 12vh;
                }

                .men2 {
                    height: 8vh;
                }
    
                font-size: 16vw;
                padding: 3vh 0;
                color: #B48100;
                text-decoration: underline;
            }
        }
    }
}

html, body {
    height: 100%;
}

main  {
    padding: 15vh 0 0 0;
    height: 85%;

    #home {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5vh 0;
        height: 85%;
    
        img {
            width: 100%;
        }
        
        button {
            @include button();
        }
    }

    #register {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5vh 0;

        img {
            width: 60%;
        }

        p {
            background-color: red;
            font-size: medium;
            text-align: center;
            color: #F8F7F7;
            width: 100%;

            padding: 1vh 0;
        }

        .input {
            @include flex-column();
            width: 80%;
            margin: 2vh;

            label {
                font-size: 9vw;
                margin: 1vh 0;
            }

            p {
                background-color: red;
                font-size: medium;
                text-align: center;
                color: #F8F7F7;

                padding: 1vh 0;
            }

            input {
                width: 100%;
                height: 5vh;

                font-size: large;

                background-color: #D9D9D9;
                box-shadow: #e9c636 1px 1px;
                border: 0;
            }
        }   

        button {
            @include button();

            margin: 5vh 0;
            padding: 2vh 4vw;
        }
    }

    #queue-form {
        @include column-center();

        p{
            background-color: red;
            font-size: large;
            text-align: center;
            color: #F8F7F7;
            width: 100%;

            padding: 1vh 0;
        }

        .input {
            @include column-center();
            width: 95%;
            margin: 2vh  0 0 0;

            label {
                font-size: 9vw;
                margin: 1vh 0;
            }

            p {
                background-color: red;
                font-size: medium;
                text-align: center;
                color: #F8F7F7;
                width: 100%;

                padding: 1vh 0;
            }

            input, textarea, select{
                width: 100%;
                height: 7vh;

                font-size: large;

                background-color: #D9D9D9;
                box-shadow: #e9c636 1px 1px;
                border: 0;
            }

            textarea {
                height: 17vh;
            }
        }

        button {
            @include button();

            margin: 5vh 0;
            // padding: 2vh 4vw;
        }
    }

    #queue {
        @include flex-column();

        .chairs {
            display: flex;
            justify-content: space-between;
            margin: 0 2vw;
            img {
                width: 30%;
            }

            .middle-chair {
                margin: 0 0 15vh 0
            }
        }

        .client-info {
            display: flex;
            justify-content: space-around;
            margin: 2vh 4vw 0;
            background-color: #D9D9D9;
            box-shadow: #e9c636 1px 1px;


            img {
                height: 11vh;
                align-self: center;
            }

            h2 {
                align-self: center;
                padding: 0;
            }

            button {
                background-color: transparent;
                border: 0;
                justify-self: flex-end;
                font-size: 10vw;

                i {
                    color: #F9B339;
                }

                .black {
                    color: #000;
                }
            }
        }

        p {
            text-align: center;
            width: 100%;
            background-color: #F9B339;
            color: #797789;

            padding: 2vh 0;
            margin: 3vh 0 0 0;
            font-size: 8vw;
        }
        
        button {
            @include button();

            align-self: center;
            padding: 1vh 5vw;
            margin: 3vh 0;
        }

        .admin_buttons {
            position: absolute;
            bottom: 0;
            left: 3vw;
        }
    }

    #about {
        @include column-center();
        padding: 0 5vw;

        p {
            padding: 2vh 0;
        }
    }

    #portfolio {
        @include column-center();

        img {
            width: 50%;
            margin: 5vh 0;
        }

        .input {
            @include column-center();
            width: 90%;
            margin: 2vh  0 0 0;

            label {
                font-size: 9vw;
                margin: 1vh 0;
            }

            input {
                width: 100%;
                height: 7vh;

                font-size: large;

                background-color: #D9D9D9;
                box-shadow: #e9c636 1px 1px;
                border: 0;
            }
        }

        .buttons {
            display: flex;

            button {
                background-color: #ebab3b;
                padding: 1vh 2vw;
                font-size: 5vw;
                border: 2px solid #f1f50f;
                width: 25vw;
                margin: 10vh 5vw 3vh;
            }

            .finish {
                margin: 3vh 0 10vh;
            }
        }

        .admin-buttons {
            display: flex;

            button {
                width: 27vw;
                font-size: medium;
                margin: 0 4vw 5vh;
                background-color: #a1e9a7;
                border: 2px solid #00e0a8;
                color: #272615;
                font-weight: 700;
                padding: 1vh 0;
            }
        }
    }

    #loading {
        .ring
        {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            width:150px;
            height:150px;
            background:transparent;
            border:3px solid #3c3c3c;
            border-radius:50%;
            text-align:center;
            line-height:150px;
            font-family:sans-serif;
            font-size:20px;
            color:#fff000;
            letter-spacing:4px;
            text-transform:uppercase;
            text-shadow:0 0 10px #fff000;
            box-shadow:0 0 20px rgba(0,0,0,.5);
        }

        .ring:before
        {
            content:' ';
            position:absolute;
            top:-3px;
            left:-3px;
            width:100%;
            height:100%;
            border:3px solid transparent;
            border-top:3px solid #fff000;
            border-right:3px solid #fff000;
            border-radius:50%;
            animation:animateC 2s linear infinite;
        }

        span
        {
            display:block;
            position:absolute;
            top:calc(50% - 2px);
            left:50%;
            width:50%;
            height:4px;
            background:transparent;
            transform-origin:left;
            animation:animate 2s linear infinite;
        }

        span:before
        {
            content:' ';
            position:absolute;
            width:16px;
            height:16px;
            border-radius:50%;
            background:#fff000;
            top:-6px;
            right:-8px;
            box-shadow:0 0 20px #fff000;
        }

        @keyframes animateC
        {
            0%
            {
                transform:rotate(0deg);
            }
            100%
            {
                transform:rotate(360deg);
            }
        }
        @keyframes animate
        {
            0%
            {
                transform:rotate(45deg);
            }
            100%
            {
                transform:rotate(405deg);
            }
        }
    }
}