@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin column-center {
    @include flex-column();

    align-items: center;
}

@mixin button {
    background-color: #B48100;
    padding: 2vh 2vw;
    font-size: 5vw;
    // margin: 10vh;
}
    
* {
    margin: 0;
}
header {
    display: flex;
    flex-direction: column;

    nav {
        display: flex;
        justify-content: space-between;
        padding: 1vh 3vw 2vh;
    
        #logo {
            height: 10vh;
        }
    
        #menuIcon {
            height: 6vh;
        }
    }

    .navigation {
        background-color: rgba(130, 126, 126, 0.267);
    
        button {
            .icon-bar {
                display: block;
                margin: 1vh 0;
                width: 13vw;
                height: 1vh;
                background-color: #F9B339;
            }
    
            border: 0;
            background-color: transparent;
        }
    }

    .menu {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        button {
            font-size: 12vw;
            color: #F8F7F7;
            background-color: #000;
            padding: 0 5vw;
            margin: 5vh 0 0 0;
        }
    
        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            a {
                display: flex;
                align-items: center;
    
                img {
                    width: 25vw;
                    margin: 0 5vw 0 0;
                }
    
                font-size: 18vw;
                padding: 4vh 0;
                color: #B48100;
                text-decoration: none;
            }
        }
    }
}

html, body {
    height: 100%;
}

main  {
    height: 85%;

    #home {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5vh 0;
        height: 85%;
    
        img {
            width: 100%;
        }
        
        button {
            @include button();
        }
    }

    #register {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5vh 0;

        img {
            width: 60%;
        }

        .input {
            @include flex-column();
            width: 80%;
            margin: 2vh;

            label {
                font-size: 9vw;
                margin: 1vh 0;
            }

            p {
                background-color: red;
                font-size: medium;
                text-align: center;
                color: #F8F7F7;

                padding: 1vh 0;
            }

            input {
                width: 100%;
                height: 5vh;

                font-size: large;

                background-color: #D9D9D9;
                border: 0;
            }
        }   

        button {
            @include button();

            margin: 5vh 0;
            padding: 2vh 4vw;
        }
    }
}
